div .jumbotron {
  margin: 0;
  min-height: 410px;
  height: 100vh;
  background: url(./images/pexels-photo-176851.jpeg);
  border-radius: 0;
}

.lead {
  position: relative;
  top: 40px;
}

.jumbotron-header {
  text-shadow: 1px 1px #343a40;
}

.summa {
  font-size: 10rem;
  text-shadow: 1px 1px #343a40;
}

.summa-subtext {
  position: relative;
  top: -160px;
  left: 90px;
  font-size: 1.5rem;
  text-shadow: 2px 2px #343a40;
}

/* start of TYPEWRITER ANIMATION */
.name-writer {
  position: relative;
  top: 40px;
}

.line-1{

    width: 7.8em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    text-align: left;
    margin-left: 0;
}

/* Animation */
.typewriter{
  animation: typewriter 1.5s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 7.8em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
/* end of TYPEWRITER ANIMATION */

@media (max-width: 380px) {
  .summa-subtext {
    font-size: 6rem;
    display: block;
    width: 100px;
  }
  .lead {
    top: 0px;
  }
  .name-writer {
    top: 0px;
  }
}

@media (max-width: 768px) {
  .summa-subtext {
    font-size: 1rem;
  }
}

@media (min-height: 1280px) {
  div .jumbotron {
    max-height: 1280px;
  }
}

@media (max-width: 530px) {
  .display-4 {
    font-size: 2rem;
  }
  .lead {
    font-size: 1rem;
  }
}

@media (max-height: 500px) {
  .summa {
    font-size: 6rem;
  }
  .summa-subtext {
    font-size: 1rem;
  }
}
