div .jumbotron {
  margin: 0;
  height: 100vh;
  background: url(./images/pexels-photo-176851.jpeg);
  border-radius: 0;
}

.jumbotron-header {
  position: relative;
  top: 35%;
  text-shadow: 1px 1px #343a40;
}
.jumbotron-header > .fa {
  position: absolute;
  right: -15%;
  bottom: 25%;
  font-size: 4rem;
}

.summa {
  position: absolute;
  bottom: 105%;
  left: -5%;
  font-size: 10rem;
  text-shadow: 1px 1px #343a40;
}

.summa-subtext {
  position: absolute;
  bottom: 145%;
  left: 8%;
  font-size: 1.5rem;
  text-shadow: 3px 3px #343a40;
  max-width: 350px;
}

/* start of TYPEWRITER ANIMATION */
.line-1{
  position: relative;
  top: 50%;
  width: 7.8em;
  border-right: 2px solid rgba(255,255,255,.75);
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

.typewriter{
  animation: typewriter 1.5s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 7.8em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
/* end of TYPEWRITER ANIMATION */
@media (min-width: 1200px) {
  .jumbotron-header {
    position: relative;
    top: 75%;
  }
}

@media (max-width: 768px) {
  .summa-subtext {
    font-size: 1rem;
    position: absolute;
    bottom: 100%;
    left: 8%;
  }
}

@media (max-width: 530px) {
  .display-4 {
    font-size: 2rem;
  }
  .lead {
    font-size: 1rem;
  }
}
