.works-container {
  padding: 75px 0 75px 0;
}

.works {
  background: url(./images/landscape-sky-night-stars-29435.jpg) no-repeat;
  padding: 0;
  min-height: 100vh;
}

.card-deck {
  padding: 45px 0px 45px 0;
  margin: 0;
}

.container-fluid {
  padding: 0;
}

.card {
  border: 0;
  border-radius: 0;
  padding: 0;
  -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
}

.card img {
  width: 100%;
  border-radius: 0;
}


.btn-group {
  display: inherit;
}

.badge-pug {
  background-color: #0D47A1;
  color: white;
  margin: 2px;
}

.badge-sass {
  background-color: #311B92;
  color: white;
  margin: 2px;
}

.badge-bootstrap {
  background-color: #880E4F;
  color: white;
  margin: 2px;
}

.badge-gulp {
  background-color: #FF6F00;
  color: white;
  margin: 2px;
}
