.card-deck {
  padding: 45px 0px 45px 0;
  margin: 0;
}

.container-fluid {
  padding: 0;
}

.card img {
  /* padding: .5em; */
}

.works {
  background: url(./images/landscape-sky-night-stars-29435.jpg);
  padding: 0;
}

.btn-group {
  display: inherit;
}

.badge-pug {
  background-color: #0D47A1;
  color: white;
  margin: 2px;
}

.badge-sass {
  background-color: #311B92;
  color: white;
  margin: 2px;
}

.badge-bootstrap {
  background-color: #880E4F;
  color: white;
  margin: 2px;
}

.badge-gulp {
  background-color: #FF6F00;
  color: white;
  margin: 2px;
}
